@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Link del repositorio del estudiante <a href="https://github.com/Alex-Caicedo-R384/AlexCaicedoRamos_TallerC-1.git">Alex Caicedo Ramos</a>.</p>
</div>
